name: Build check

on:
  pull_request:
    branches:
      - main
    paths:
      - 'go.mod'
      - 'go.sum'
      - 'cmd/**'
      - 'pkg/**'
      - 'Dockerfile'

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up go
        timeout-minutes: 5
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: --timeout=5m --config=.golangci.yml
      - name: Unit
        run: make unit
      - name: Build
        timeout-minutes: 10
        run: make build
